@import url('../styles/global-styles.css');

  .radio-group {
    display: flex;
    gap: var(--spacing-2x);
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0;
  }

  .radio-group.align-left {
  justify-content: flex-start;
  }

  .radio-group.align-center {
  justify-content: center;
  }

  .radio-wrapper {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-2x);
    padding: 0 var(--spacing-2x);
    height: 40px;
    transition: all 0.3s ease;
    position: relative;
  }

  .radio-wrapper:first-child{
    padding-left: 0;
  }

  .radio-wrapper:last-child{
    padding-right: 0;
  }

  .radio-wrapper.disabled {
    cursor: default;
  }

  .label-text {
    font-family: var(--label-large-family);
    font-size: var(--label-large-size);
    line-height: var(--label-large-height);
    letter-spacing: var(--label-large-tracking);
    font-weight: var(--font-weight-regular);
  }

  .radiomark {
    height: 16px;
    width: 16px;
    border: 1px solid var(--surface-border);
    background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
    background-position: 0rem 0rem;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border-radius: 50%;
    position: relative;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  .radio-wrapper:hover .radiomark{
    background-size: 100% 100%;
  }

  .radio-wrapper:active .radiomark{
    background-size: 100% 100%;
    box-shadow: 0px 1px 8px 0px var(--pressed-inner-shadow) inset;
  }


  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  input[type="radio"]:checked + .radiomark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--on-surface-active);
    border-radius: 50%;
  }

  input[type="radio"]:checked + .radiomark{
    background-size: 100% 100%;
  }

  .radio-wrapper:hover input[type="radio"]:checked + .radiomark{
    box-shadow: 0px 4px 12px 0px var(--hover-drop-shadow);
  }

  .radio-wrapper:active input[type="radio"]:checked + .radiomark{
    box-shadow: 0px 0px 0px 0px var(--hover-drop-shadow);
  }

  .radio-wrapper.disabled .radiomark {
    border: 1px solid var(--on-surface-disabled);
  }

  .radio-wrapper.disabled:hover .radiomark {
    background-size: 0% 100%;
  }

  .radio-wrapper.disabled .label-text {
    color: var(--on-surface-disabled);
  }

  input[type="radio"]:checked:disabled + .radiomark::after {
    background-color: var(--on-surface-disabled);
  }

  input[type="radio"]:checked:disabled + .radiomark{
    background-color: var(--surface-disabled);
    background-size: 0% 100%;
  }

  .radio-wrapper:hover input[type="radio"]:checked:disabled + .radiomark{
    box-shadow: 0px 0px 0px 0px var(--hover-drop-shadow);
  }
