@import url('../styles/global-styles.css');

/* Make sure the entire label is keyboard clickable */
.checkbox-wrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2x);
  padding: 0 var(--spacing-2x);
  height:40px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.checkbox-wrapper.disabled{
  cursor: default;
}

.checkbox-wrapper.disabled input[type="checkbox"]:checked + .checkmark::after {
  border-color: var(--on-surface-disabled);
}

.checkbox-wrapper.disabled input[type="checkbox"]:checked + .checkmark{
  background-color: var(--surface-disabled);
}

.checkbox-wrapper.disabled .label-text {
  color: var(--on-surface-disabled);
}

.checkbox-wrapper.disabled .checkmark, .checkbox-wrapper.disabled .checkmark:hover {
  border: 1px solid var(--on-surface-disabled);
  background-size: 0% 100%;
}

.wrapper-style-default{

}

.wrapper-style-contained.disabled, .wrapper-style-contained.disabled:hover{
  background-size: 0% 100%;
  border: 1px solid var(--on-surface-disabled);
}

.wrapper-style-contained{
  border: 1px solid var(--surface-border);
  background-color:var(--background-primary-color);
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0rem 0rem;
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.label-text {
  font-family: var(--label-large-family);
  font-size: var(--label-large-size);
  line-height: var(--label-large-height);
  letter-spacing: var(--label-large-tracking);
  font-weight: var(--font-weight-regular);
  transition: all 0.3s ease;
  color:var(--on-surface);
}


.checkmark {
  height: 16px;
  width: 16px;
  border: 1px solid var(--surface-border);
  position: relative;
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  color:var(--on-surface);
  background-position: 0rem 0rem;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.wrapper-style-default:hover .checkmark {
  background-size: 100% 100%;
  color: var(--on-surface-active);
}

.wrapper-style-default:active .checkmark {
  background-size: 100% 100%;
  box-shadow: 0px 1px 8px 0px var(--pressed-inner-shadow) inset;
}

/* Ensure .checkmark gets visible focus styles */
/* input[type="checkbox"]:focus + .checkmark {
  outline: 1px solid var(--surface-border);
  outline-offset: 2px;
} */

/* Optional: visually hide the native checkbox but keep it accessible */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: var(--surface-active);
}

input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: 2px solid var(--on-surface);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.wrapper-style-default input[type="checkbox"]:checked + .checkmark::after {
  border-color: var(--on-surface-active);
  border-width: 0 2px 2px 0;
}

.wrapper-style-contained:hover .label-text{
  color:var(--on-surface-active);
}

.wrapper-style-contained input[type="checkbox"]:checked + .checkmark{
  background-color: var(--background-primary-color);
}

.wrapper-style-contained:hover{
  background-size: 100% 100%;
  color: var(--on-surface-active);
}

.wrapper-style-contained .checkmark{
  background-color:transparent;
}

.wrapper-style-contained:hover .checkmark{
  background-size: 0% 100%;
  border: 1px solid var(--inverse-surface-border);
}

.wrapper-style-contained:active{
  box-shadow: 0px 1px 24px 0px var(--pressed-inner-shadow) inset;
}

.wrapper-style-contained.disabled:hover .checkmark{
  border: 1px solid var(--on-surface-disabled);
}
