@import url('../styles/global-styles.css');

.live-demo-container {
  border: 1px solid var(--border-tertiary-color);
  margin: 0 8%;
  margin-top: var(--spacing-3x);
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:column;
}

.demo-controls {
  display: flex;
  width:100%;
  vertical-align:middle;
  gap: var(--spacing-2x);
  padding: var(--spacing-4x);
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: var(--background-secondary-color);
  border-bottom: 1px solid var(--border-tertiary-color);
}

.demo-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-2x) var(--spacing-4x) var(--spacing-4x) var(--spacing-4x);
  min-height: 200px;
  z-index:1;
}


:not(pre) > code[class*="language-"], pre[class*="language-"]{
  background-color: var(--overlay-color) !important;
}

.code-preview {
  background-color: var(--background-secondary-color);
  padding: var(--spacing-1x) var(--spacing-4x) var(--spacing-4x) var(--spacing-4x);
  font-family: monospace;
  font-size: 0.85rem;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  width:100%;
  box-sizing: border-box;

  pre, code {
  white-space: pre-wrap !important;
  }

  h3{
    font-family:var(--title-small-family);
    font-size:var(--title-small-size);
    line-height:var(--title-small-height);
    letter-spacing:var(--title-small-tracking);
  }
}
