.tabs-container {
  display: flex;
  padding: 0 6%;
  gap:var(--spacing-1x);
  margin-top: var(--spacing-3x);
  position: sticky;
  top: 5rem;
  background:var(--background-primary-color);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex-wrap: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.top-level{
  margin-top: var(--spacing-3x);
  z-index: 991;
}

.sub-level{
  margin-top: var(--spacing-0x);
  z-index: 990;
}

.tab {
  padding: var(--spacing-2x);
  gap:var(--spacing-0p5x);
  display:flex;
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
  background: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  background-position: 0rem 0rem;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.tab-style-default{
  font-family:var(--label-large-family);
  font-size:var(--label-large-size);
  line-height:var(--label-large-height);
  letter-spacing:var(--label-large-tracking);
  font-weight:var(--font-weight-regular);
}

.tab-style-small{
  font-family:var(--body-small-family);
  font-size:var(--body-small-size);
  line-height:var(--body-small-height);
  letter-spacing:var(--body-small-tracking);
  font-weight:var(--font-weight-regular);
}

.tabs-style-elevated{
  box-shadow: 0 4px 6px -4px var(--elevated-drop-shadow);
}

.tabs-style-divider{
  border-bottom: 1px solid var(--border-tertiary-color);
}

.tab:hover {
  background-size: 100% 100%;
  color: var(--on-surface-active);
}

.tab:active {
  box-shadow: 0px 1px 24px 0px var(--pressed-inner-shadow) inset;
}

.tab.selected {
  border-bottom: 2px solid var(--surface-border);
}

.tab.disabled {
  color:var(--on-surface-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

.tab.selected.disabled {
  border-bottom: 2px solid var(--surface-border-disabled);
  color:var(--on-surface-disabled);
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .tabs-container {
    padding: 0 8%;
  }

  .tab{
    display:flex;
    flex: 0 0 auto;
    justify-content: left;
  }
}
