@import url('../styles/tokens.css');

.table-wrapper {
  width: 100%;
  margin: var(--spacing-2x) 0;
  overflow-x: auto; /* Optional for responsiveness */
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* This is key! */
}

th, td {
  padding: var(--spacing-2x);
  /* border: 1px solid var(--border-tertiary-color); */
  text-align: left;
  vertical-align: top;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

th{
  border-bottom: 1px solid var(--border-tertiary-color);
}

td{
  border-bottom: 1px solid var(--border-tertiary-color);
}

thead {
  background: var(--background-secondary-color);
}
