@import url('../styles/global-styles.css');

.table-wrapper {
  width: 100%;
  margin: var(--spacing-0x) 0 var(--spacing-2x) 0;
  overflow-x: auto;
}

.table-scroll {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: max-content;
  border-collapse: collapse;
  table-layout: auto;
  min-width: 100%;
}

th, td {
  padding: var(--spacing-2x);
  text-align: left;
  vertical-align: top;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: add ... */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

th{
  color: var(--title-text-color);
  border-bottom: 1px solid var(--border-tertiary-color);
  font-family: var(--label-med-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--label-med-size);
  line-height: var(--label-med-height);
  letter-spacing: var(--label-med-tracking);
}

td{
  color: var(--body-text-color);
  border-bottom: 1px solid var(--border-tertiary-color);
  font-family: var(--body-med-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--body-med-size);
  line-height: var(--body-med-height);
  letter-spacing: var(--body-med-tracking);
}

thead {
  background: var(--background-secondary-color);
}
