@import url('../styles/typography.css');
@import url('../styles/tokens.css');

.footer-wrapper{
  margin-top:var(--spacing-9x);
  width:100%;
}

.footer{
  display: flex;
  flex-direction: column;
  padding: var(--spacing-8x) 8%;
  justify-content: space-between;
  background:var(--background-inverse-color);
  gap:var(--spacing-9x);
}

.logo-img{
  height:1.6875rem;
}

.footer-nav-links{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.footer-nav-links p{
  font-family:var(--label-large-family);
  font-size:var(--label-large-size);
  line-height:var(--label-large-height);
  letter-spacing:var(--label-large-tracking);
  color: var(--inverse-text-color);
}

.footer-nav-links p a{
  text-decoration: underline;
  color: var(--inverse-text-color);
  transition-timing-function: ease-in-out;
  transition: color 0.3s ;
}

.footer-nav-links p a:hover{
  color:var(--textfade);
  text-shadow: 0px 2px 12px var(--hover-drop-shadow);
}

.footer-nav-links p a:active{
  color:var(--textfade);
  text-shadow: 0px 2px 12px rgba(0,0,0,0);
}
