@import url('../styles/typography.css');
@import url('../styles/tokens.css');

.masthead-wrapper{
  top:0;
  position:fixed;
  width:100vw;
  z-index: 999;
}

.masthead{
  display: flex;
  height:5.5rem;
  max-width: 100vw;
  padding: var(--spacing-0x) var(--spacing-1x);
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  /* background:var(--overlay-color); */
  background:var(--background-primary-color);
  /* backdrop-filter: blur(5px); */
  border-bottom: 1px solid var(--border-tertiary-color);
  gap: var(--spacing-1x);
}


.logo-img {
  height: 2.9375rem;
}

.mobile-logo {
  display: inline;
}

.desktop-logo {
  display: none;
}

.nav-links{
  display: none;
  align-items: center;
  gap: var(--spacing-6x);
}

.menu{
  display:flex;
}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {

  .masthead{
    height:5rem;
    justify-content: space-between;
    padding: var(--spacing-0x) var(--spacing-3x);
  }
  .nav-links{
    display:flex;
  }
  .menu{
    display:none;
  }

  .logo-img {
    height:1.6875rem;
  }

  .desktop-logo {
    display: inline;
  }

  .mobile-logo {
    display: none;
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {

}

/* Ultra-wide (≥ 1600px) */
@media (min-width: 1600px) {

}
