/*style for link-button*/
@import url('../styles/typography.css');
@import url('../styles/tokens.css');

.link-btn{
  cursor: pointer;
  text-decoration:none;
  padding: var(--spacing-0x) var(--spacing-2x);
  font-family:var(--label-large-family);
  font-size:var(--label-large-size);
  line-height:var(--label-large-height);
  letter-spacing:var(--label-large-tracking);
  border: 0px;
  gap: 0.375rem;
  background-color: transparent;
  vertical-align:middle;
  white-space:nowrap;
  text-align:left;
  justify-content: center;
  align-items: center;
  transition-timing-function: ease-in-out;
}

.link-btn-wrapper{
  display: inline-block;
}


/* Outline button style, used as primary button style*/

.link-btn-outline{
  background-position: 0rem 0rem;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

.link-btn-outline-default{
  border: 1px solid var(--surface-border);
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  color:var(--on-surface);
}

.link-btn-outline-default:hover{
  color:var(--on-surface-active);
  background-size:100% 100%;
}

.link-btn-outline-default:active{
  color:var(--on-surface-active);
  background-size:100% 100%;
  border: 1px solid transparent;
  box-shadow: 0px 1px 24px 0px var(--pressed-inner-shadow) inset;
}

.link-btn-outline-default:disabled{
  color:var(--on-surface-disabled);
  border: 1px solid var(--on-surface-disabled);
}

/* Text button style, used as secondary button style*/

.link-btn-text{
  transition: color 0.3s ;
  padding: var(--spacing-0x) var(--spacing-0x);
}

.link-btn-text-default{
  color:var(--on-surface);
}

.link-btn-text-default:hover{
  color:var(--textfade);
  text-shadow: 0px 2px 12px var(--hover-drop-shadow);
}

.link-btn-text-default:active{
  color:var(--textfade);
  text-shadow: 0px 2px 12px rgba(0,0,0,0);
}

.link-btn-text-default:disabled{
  color:var(--on-surface-disabled);
}

.link-btn-text-inverse{
  color:var(--inverse-text-color);
}

.link-btn-text-inverse:hover{
  color:var(--textfade);
  text-shadow: 0px 2px 12px var(--hover-drop-shadow);
}

.link-btn-text-inverse:active{
  color:var(--textfade);
  text-shadow: 0px 2px 12px rgba(0,0,0,0);
}

.link-btn-text-inverse:disabled{
  color:var(--on-surface-disabled);
}

/* Underline button style, used as alternative secondary button style*/

.link-btn-underline{
  padding: 0px 0px;
  transition: color 0.5s;
  transition: border 0.5s;
}

.link-btn-underline-default{
  border-bottom: 1px solid var(--surface-border);
  color:var(--on-surface);
}

.link-btn-underline-default:hover{
  color:var(--textfade);
  border-bottom: 1px solid var(--textfade);
  text-shadow: 0px 2px 12px var(--hover-drop-shadow);
}

.link-btn-underline-default:active{
  color:var(--textfade);
  border-bottom: 1px solid var(--textfade);
  text-shadow: 0px 2px 12px rgba(0,0,0,0);
}

.link-btn-underline-default:disabled{
  color:var(--on-surface-disabled);
  border-bottom: 1px solid var(--on-surface-disabled);
}

/* Elevated button style, used as alternative primary button style */

.link-btn-elevated{
  border-radius: 2rem;
  box-shadow: 0px 4px 12px 0px var(--elevated-drop-shadow);
  background-color:transparent;
  background-position: 0rem 0rem;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

.link-btn-elevated-default{
  background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
  color:var(--on-surface);
}

.link-btn-elevated-default:hover{
  color:var(--on-surface-active);
  background-size:100% 100%;
}

.link-btn-elevated-default:active{
  color:var(--on-surface-active);
  background-size:100% 100%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0);
}

.link-btn-elevated-default:disabled{
  color:var(--on-surface-disabled);
  background-color:var(--surface-disabled);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0);
}
