@import url('../styles/global-styles.css');

/* smart image */
.image-wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
    width:100%;
}

.smart-image {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: inherit;
}

.smart-image-bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.smart-image {
    height: 200px;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.label-wrapper{
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
    width:100%;
    padding: var(--spacing-2x) var(--spacing-0x);
    gap: var(--spacing-1x);
    transition: padding 0.3s;
}

.tag{
    color:var(secondary-text-color);
    text-align:left;
    font-family:var(--label-med-family);
    font-size:var(--label-med-size);
    font-weight:var(--font-weight-regular);
    line-height:var(--label-med-height);
    letter-spacing:var(--label-med-tracking);
}

.label{
    color:var(--on-surface);
    text-align:left;
    font-family:var(--title-med-family);
    font-size:var(--title-med-size);
    font-weight:var(--font-weight-regular);
    line-height:var(--title-med-height);
    letter-spacing:var(--title-med-tracking);
}

.card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color:transparent;
    width:100%;
    border:transparent;
    margin-top: var(--spacing-2x);
    background-position: 0em 0em;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition-timing-function: ease-in-out;
    background-image: linear-gradient(to right, var(--surface-active) 0, var(--surface-active) 100%);
    transition: background-size 0.3s;
}

.card:focus-visible{
  outline:none;
}

.card-style-default{
    border-bottom: 3px solid var(--border-primary-color);
}

.card-style-elevated{
    border-radius: var(--corner-1x);
    background-color: var(--background-primary-surface);
    box-shadow: 0px 4px 10px -2px var(--elevated-drop-shadow);
}

.card-style-elevated .label-wrapper{
    padding: var(--spacing-2x) var(--spacing-2x);
}

.card-style-elevated .image-wrapper{
    border-top-left-radius: var(--corner-1x);
    border-top-right-radius: var(--corner-1x);
}

.card:hover .image-wrapper .smart-image{
    transform: scale(1.15);
    cursor: pointer;
}

.card:hover{
    background-size: 100% 100%;
    cursor: pointer;
}

.card:hover .label-wrapper{
    padding: var(--spacing-2x) var(--spacing-2x);
}

.card:active{
    box-shadow: 0px 1px 24px 0px var(--pressed-inner-shadow) inset;
}

.card:hover .label-wrapper .label, .card:hover .label-wrapper .tag{
    color:var(--on-surface-active);
}

.card:focus-visible{
    background-size: 100% 100%;
}

.card-style-default:focus-visible .label-wrapper{
  padding: var(--spacing-2x) var(--spacing-2x);
}

.card:focus-visible .label-wrapper .label, .card:focus-visible .label-wrapper .tag{
  color:var(--on-surface-active);
}

.card-style-default.disabled{
    border-bottom: 3px solid var(--on-surface-disabled);
}

.card-style-elevated.disabled{
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px 0px transparent;
    background-color: var(--surface-disabled);
}

.card.disabled:hover{
    background-size: 0% 100%;
    cursor: not-allowed;
}

.card.disabled .image-wrapper .smart-image{
    opacity:0.3;
    transform: scale(1);
    cursor: not-allowed;
}

.card-style-default.disabled .label-wrapper{
    padding: var(--spacing-2x) var(--spacing-0x);
}

.card.disabled .label-wrapper .label, .card.disabled .label-wrapper .tag{
    color:var(--on-surface-disabled);
}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
  .smart-image {
    height: 270px;
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {

}

/* Ultra-wide (≥ 1600px) */
@media (min-width: 1600px) {

}
